.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__header {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
}

.board {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1.5rem 2rem;
}

.board__column {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
}

.column__header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 2.5rem;
}

.column__count {
  justify-self: start;
}

.column__title {
  justify-self: center;
  align-self: center;
}

/* COLUMN LIST - layout */
.column__list {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* vertical spacing between cards */
}

/* CARD layout */
.card {
  display: flex;
  flex-direction: column; /* content stacked vertically */
  gap: 1rem; /* spacing between timestamp and description */
  padding: 1rem 1.1rem;
}

/* TIMESTAMP ROW layout */
.card__timestamp {
  display: flex;
  gap: 0.6rem;
  justify-content: space-between;
}
